/**
 * @name         A little Light
 * @description  supports light theme which is less easy on the eyes
 * @author       2141
 * @version      1.0
 * @donate       none
 * @source       https://github.com/MinecraftLover2141/VenCordTheme1/
 * @invite       TeRQEPb
 * @authorId     468132563714703390
 */

:root {
  --darkplus-bg: #FDFEFF;
  --darkplus-bg2: #FDFEFF;
  --darkplus-sec: #FDFEFF;
  --darkplus-links: #FDFEFF;

 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 0%;
  --watermark-filter-saturate: 0%;
  --watermark-filter-hue-rotate: 0deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast:0;
  --darkplus-emoji-picker-color: 0deg;
}

